Repository oliverandrich/django-hatch-startproject: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, black, ruff, curlylint, pyupgrade, django-upgrade

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-json

  - repo: local
    hooks:
      - id: pyright
        name: Run pyright
        entry: hatch run lint:run-pyright
        language: system
        files: \.py$
      - id: black
        name: Run black
        entry: hatch run lint:run-black
        language: system
        files: \.py$
      - id: ruff
        name: Run ruff
        entry: hatch run lint:run-ruff
        language: system
        files: \.py$
      - id: curlylint
        name: Run curlylint
        entry: hatch run lint:run-curlylint
        language: system
        files: \.html$
      - id: pyupgrade
        name: Run pyupgrade
        entry: hatch run lint:run-all-pyupgrade
        language: system
        files: \.py$
      - id: django-upgrade
        name: Run django-upgrade
        entry: hatch run lint:run-all-django-upgrade
        language: system
        files: \.py$

Updated the minimum version for django-tailwind-cli to 2.2.3.
  pyproject.toml
  tailwind.config.js
Due: none

Updated htmx to 1.9.4.
  assets/js/htmx.min.js
Due: none

Added pytest to the project again.
  README.md
  pyproject.toml
  tests/test_assert_true.py
Due: pyright, black, ruff, pyupgrade, django-upgrade

Fixed pyright configuration.
  pyproject.toml
Due: none

Refactored the template to use the single folder Django project layout.
  README.md
  manage.py
  project_name/__init__.py
  project_name/__version__.py
  project_name/asgi.py
  project_name/locale/de/LC_MESSAGES/django.po
  project_name/locale/en/LC_MESSAGES/django.po
  project_name/models.py
  project_name/settings.py
  project_name/templates/base.html
  project_name/urls.py
  project_name/views.py
  project_name/wsgi.py
  pyproject.toml
Due: pyright, black, ruff, curlylint, pyupgrade, django-upgrade
